body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
}

h1, h2, h3, h4, h5 {
    font-family: 'Patua One', cursive;
}

#main-section {
	background-color: skyblue;
}

.flex {
	width: 100%;
	display: flex;
}

.flex-wrap {
	flex-wrap: wrap;
}

.flex-col {
	flex-direction: column;
}

.flex-between {
	justify-content: space-between;
}

.small-block, .big-block, .large-block {
	margin-bottom: 6px;
	background-color: grey;
	position: relative;
}

.small-block {
	height: 294px;
}

.big-block {
	height: 594px;
}

.lg-big-block {
	height: 888px;
}

.block-title, .block-date, .block-header, .block-sub-header {
	position: absolute;
}

.top-left {
	top: 40px;
	left: 30px;
}

.top-right {
	top: 40px;
	right: 30px;
	text-align: center;
}

.mid-upper-left {
	left: 30px;
	right: 30px;
	top: 65px;
}

.mid-lower-left {
	left: 30px;
	right: 30px;
	top: calc(50% - 15px);
}

.lower-left {
	left: 30px;
	right: 30px;
	bottom: 75px;
}

.bottom-left {
	left: 30px;
	bottom: 40px;
	right: 30px;
}

.block-text {
	position: relative;
} 

.block-title {
	font-size: 18px;
}

.month {
	font-size: 24px;
}

.day {
	font-size: 36px;
}

.block-header {
	font-size: 24px;
}

.block-sub-header {
	font-size: 18px;
}

.block-img {
	background-size: cover;
}


/*

*/
.flex-col-lg-100 {
	width: 100%;
}
.flex-col-lg-50 {
	width: calc(50% - 3px);
}
.flex-col-md-100 {
	width: 100%;
}
.flex-col-md-50 {
	width: calc(50% - 3px);
}
.flex-col-sm-100 {
	width: 100%;
}
.flex-col-sm-50 {
	width: calc(50% - 3px);
}
.flex-col-xs-100 {
	width: 100%;
}
.flex-col-xs-50 {
	width: calc(50% - 3px);
}
/*
.flex-col-lg-100,
.flex-col-md-100,
.flex-col-sm-100,
.flex-col-xs-100 {
	width: 100%;
}
.flex-col-lg-50,
.flex-col-md-50,
.flex-col-sm-50,
.flex-col-xs-50 {
	width: calc(50% - 3px);
}*/

@media screen and (max-width: 414px) {	

	.flex-col-xs-100 {
		width: 100% !important;
	}

	.flex-col-xs-50 {
		width: calc(50% - 3px) !important;
	}
}

@media screen and (max-width: 736px) and (orientation: landscape) {

	.flex-col-sm-100 {
		width: 100% !important;
	}

	.flex-col-sm-50 {
		width: calc(50% - 3px) !important;
	}
}

@media (min-width: 737px) and (max-width: 1024px) {
	
	
	.flex-col-sm-100 {
		width: 100%;
	}
	
	.flex-col-sm-50 {
		width: calc(50% - 3px);
	}
	
	.flex-col-md-100 {
		width: 100% !important;
	}
	.flex-col-md-50 {
		width: calc(50% - 3px) !important;
	}
}

@media screen and (min-width: 1025px) {
	
	.flex-col-md-100,
	.flex-col-sm-100 {
		width: 100%;
	}
	.flex-col-md-50,
	.flex-col-sm-50 {
		width: calc(50% - 3px);
	}

  .flex-col-lg-100 {
		width: 100% !important;
	}	
  .flex-col-lg-50 {
		width: calc(50% - 3px) !important;
	}
}