#main-section {
	&>div{
		
	}
	.small-block, 
	.big-block, 
	.large-block {
		margin-bottom: 6px;
		background-color: rgb(225, 223, 214);
		position: relative;

		/* 	TODO: we need this responsive 
							let's put some media queries */
	}

	.small-block {
		height: 294px;
	}

	.big-block {
		height: 594px;
	}

	.lg-big-block {
		height: 888px;
	}

	// .block-title, .block-date, .block-header, .block-sub-header {
	// 	// position: absolute;
	// }

	
	.block-text,
	.block-image {

		&>[class*="top-"],
		&>[class*="bottom-"],
		&>[class*="-both"],
		&>[class*="-left"],
		&>[class*="-right"] {
			position: absolute;
		}
		&>[class*="top-"] {
			top: 40px;
		}
		&>[class*="-both"] {
			left: 30px;
			right: 30px;			
		}
		&>[class*="-left"] {
			left: 30px;			
		}
		&>[class*="-right"] {
			right: 30px;			
		}
		&>[class*="bottom-"] {
			bottom: 40px;			
		}		
	}

	.block-text {
		position: relative;
		font-family: $san-serif;
		.block-title {
			font-size: 18px;			
		}
		.block-header {
			font-size: 24px;
			font-family: $serif;
		}
		.block-sub-header {
			font-size: 18px;
		}
		.block-date {
			.month {
				font-size: 24px;
			}
			.day {
				font-size: 36px;
			}	
		}
	} 
	.block-img {
		background-size: cover;
		background-position: center;	
	}
}